/*** link styling ***/
a img {
  border: none;
}
a:link {
  color:#4e91ab;;
  font-weight: 500;
}

a:visited {
  color: #1d5454;
}
a:hover {
  color: #fff;
  background-color: #392307;
}

a:active {
  color: #66a7c5;
  background-color: #392307;
}

a.menu, a.current {
  background-color: #cbcbcb;
  padding: 0.2em 1em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 0px;
   -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 15px;
}

a.menu:link {
  text-decoration: none;
  color: #111;
 
}
a.menu:visited {
  text-decoration: none;
  color: #111;
}
a.menu:hover {
  color: #fff;
  background-color: #4e91ab;;
  /*font-weight: bold;*/
}

/* current visiting link*/
/* no decoration links */
a.current:link {
  text-decoration: none;
  color: #730e01;
  font-weight: bold;
}
a.current:visited , a.nodec:visited {
  text-decoration: none;
  color: #730e01;
  
}

a.nodec:link {
  text-decoration: none;

}

a.nodec:visited {
  text-decoration: none;
}

a.nodec:hover {
  color: #fff;
  background-color: #392307;
}


